.card-style{
    transition: 0.3s;
}
.card-style:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .service{
      margin-top: 120px;
  }
  .icon{
      color:gold;
      font-size: 50px;
  }